*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}
input[type="number"]{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
input[type="password"]{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.text-align{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.eyes{
    margin-left: 10px;
}